@media screen and (max-width: 767.78px) {
  .logo img {
    width: 70px;
    height: auto;
  }
  .off-logo {
    width: 130px;
    height: auto;
  }
  .header1 {
    backdrop-filter: unset;
  }
  .navbar-light .navbar-nav .nav-link {
    color: var(--primary-color) !important;
  }
  header.sticky .navbar-light .navbar-nav .nav-link {
    color: var(--primary-color) !important;
  }
  header.sticky .navbar-light .navbar-nav .nav-link {
    border: none !important;
    background-color: transparent !important;
  }

  .navbar-toggler {
    color: #fff !important;
    border-color: #fff !important;
  }
  header.sticky .navbar-toggler {
    color: #195aff !important;
    border-color: #195aff !important;
  }
  .navbar-toggler:focus {
    box-shadow: unset !important;
  }

  .hero_img-overlay::before {
    background-image: url("../img/mb/png\ \(1\)\ \(1\).png");
  }
  .hero_bg {
    background-image:
      radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
      url(../img/mb/bg\ \(1\).jpg\ \(1\).jpeg);
  }

  /* .ban-sec {
    padding-top: 130px;
    padding-bottom: 60px;
    flex-direction: column;
    text-align: center;
    height: auto;
    min-height: 450px;
  } */

  .hero_container {
    height: 29rem;
  }
  .hero_sticky {
    top: 12rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  .hero-img-wrap {
    height: auto;
  }

  .title {
    font-size: 28px !important;
    line-height: 1.3;
  }

  .para {
    font-size: 85%;
  }
  .about-sec {
    padding: 60px 0px;
  }

  .advance-wrap {
    display: grid;
    gap: 40px;
    padding: 30px 0px 27px 0px;
  }
  .advance-wrap {
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .advance-wrap:not(.scrolled) .advance-item:nth-child(1) {
    transform: unset;
  }
  .advance-item {
    margin: auto;
  }
  .serv {
    padding: 60px 0px;
  }
  .service-card {
    grid-template-columns: 1fr;
  }
  .service-card:hover {
    grid-template-columns: 1fr;
  }
  .service-img-wrap img {
    width: 100%;
  }
  .service-card:hover .service-img-wrap {
    transform: unset;
  }
  .service-img-wrap {
    position: unset;
    transform: unset;
    display: contents;
  }
  .proj {
    padding: 0px 0px 100px 0px;
  }
  .tabs-menu {
    grid-template-columns: repeat(1, 1fr);
  }
  .project-tabs {
    margin-top: 0px;
  }
  .ser-icon {
    max-width: 45px;
    height: 45px;
    margin-bottom: 0px;
  }
  .ser-icon i {
    font-size: 22px;
    color: #fff;
  }
  .hero-text {
    display: block;
  }
  .hero-text p {
    width: 100%;
    padding-bottom: 10px;
  }
  .hero-img {
    width: 100%;
    height: 420px;
  }
  .why-choose {
    padding: 50px 0px 60px 0px;
  }
  .mid-sec {
    grid-template-columns: 1fr;
  }
  .img-wrapper img {
    height: auto;
  }
  .about-mission-vision-nav {
    flex-wrap: wrap;
  }
  .years-experience-circle {
    top: 17%;
  }
  .years-experience-circle figure img {
    max-width: 160px;
  }
  .years-experience-counter-box {
    width: 70px;
    height: 70px;
  }
  .years-experience-counter-box h2 {
    font-size: 30px;
  }
  .our-event-gold {
    padding: 60px 0px;
  }
  .event-item-info-gold {
    width: 100%;
  }
  .event-item-info-gold::before {
    display: none;
  }
  .event-item-gold {
    margin-bottom: 30px;
  }
  .blog-carousel-section {
    padding: 60px 0;
  }
  .process-step.active {
    backdrop-filter: blur(0px);
  }
  .client-marquee-section {
    padding: 60px 0px 60px 0px;
  }
  .company-supports-logo img {
    height: 70px;
  }
  .cta-section {
    padding: 60px 0px;
  }
  .footer-section {
    /* position: unset; */
    padding: 60px 0px 60px;
  }
  .footer-top {
    grid-template-columns: 1fr 1fr;
    gap: 35px;
  }
  .footer-bottom span {
    font-size: 80px;
  }
  .footer-text {
    padding-left: 20px;
  }
  .footer-col a {
    text-align: left;
    padding-left: 20px;
  }
  .footer-bottom {
    margin-top: 40px;
  }
  .footer-social {
    margin-left: 18px;
  }

  /* about page */
  .about {
    height: 60vh;
  }
  .abt-t {
    font-size: 2.5rem;
  }
  .about-mid {
    padding: 60px 0px;
  }
  .our-approach {
    padding: 60px 0px;
  }

  div#fle {
    flex-direction: column-reverse;
  }

  .our-benefits {
    padding: 60px 0;
  }
  .our-benefits-images {
    margin-bottom: 40px;
  }
  .our-achievements {
    padding: 60px 0px;
  }
  .achievements-content {
    margin-top: 40px;
  }
  .achievement-item {
    width: 100%;
  }
  .our-speakers {
    padding: 60px 0px 40px 0px;
  }
  .intro-video-image img {
    aspect-ratio: unset;
  }
  .our-skills {
    padding: 60px 0px;
  }
  .skills-content {
    margin-top: 40px;
  }
  .skills-content-body .expert-skills-box {
    width: 100%;
  }
  .our-testimonials {
    padding: 60px 0px;
  }
  .testimonial-client-box {
    margin-bottom: 40px;
  }
  .faq {
    padding: 60px 0px;
  }
  .faqs-image {
    margin-bottom: 40px;
  }

  .years-experience-circle {
    margin: 0px;
  }

  /* project det page */

  .page-schedule-single {
    padding: 60px 0;
  }
  .sidebar-cta-contact-item-content h3 {
    font-size: 16px;
  }
  /* .sidebar-cta-box{
    margin-bottom: 40px;
  } */
  .page-single-image {
    margin-top: 40px;
  }
  .schedule-expect-image-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .marquee-section {
    padding: 20px 0px;
  }
  .before-after-section {
    padding: 60px 0px;
  }

  .event-section {
    padding: 60px 0px;
  }
  .event-highlights {
    padding: 60px 0px;
  }

  .event-tabs {
    display: flex;
    flex-wrap: wrap;
  }

  /* gallery page */

  .page-gallery {
    padding: 60px 0px;
  }
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .gallery-grid img {
    height: 210px;
  }

  /* contact page */

  .contact-section {
    padding: 60px 0px;
  }
  .contact-form,
  .contact-image-box {
    width: 100%;
  }
  .contact-info-item {
    width: 100%;
    flex-direction: initial;
    gap: 15px;
  }
  .contact-info-item.location-item {
    border: none;
    padding-top: 0px;
  }
  .contact-info-content {
    width: calc(100% - 65px);
  }
  .contact-left {
    height: auto;
  }
  .contact-info-list {
    right: 20px;
    bottom: 20px;
    left: 20px;
  }
  .cont-mid {
    padding: 60px 0px;
  }
}

@media screen and (max-width: 320px) {
  .footer-logo img {
    width: 160px;
  }
  .footer-top {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .logo img {
    width: 95px;
    height: auto;
  }
  .off-logo {
    width: 130px;
    height: auto;
  }
  .header1 {
    backdrop-filter: unset;
  }
  .navbar-light .navbar-nav .nav-link {
    color: var(--primary-color) !important;
  }
  header.sticky .navbar-light .navbar-nav .nav-link {
    color: var(--primary-color) !important;
  }
  header.sticky .navbar-light .navbar-nav .nav-link {
    border: none !important;
    background-color: transparent !important;
  }

  .navbar-toggler {
    color: #fff !important;
    border-color: #fff !important;
  }
  header.sticky .navbar-toggler {
    color: #195aff !important;
    border-color: #195aff !important;
  }
  .navbar-toggler:focus {
    box-shadow: unset !important;
  }

  /* .ban-sec {
    padding-top: 130px;
    padding-bottom: 60px;
    flex-direction: column;
    text-align: center;
    height: auto;
    min-height: 450px;
  } */

  .hero_container {
    height: 35rem;
  }
  .hero_sticky {
    top: 8rem;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }

  .title {
    font-size: 28px !important;
    line-height: 1.3;
  }

  .para {
    font-size: 85%;
  }
  .about-sec {
    padding: 60px 0px;
  }

  .advance-wrap {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 40px 20px;
  }
  .advance-wrap:not(.scrolled) .advance-item:nth-child(1) {
    transform: unset;
    margin: 0px;
  }

  /* 
  .serv {
    padding: 60px 0px;
  } */
  /* .service-card {
    grid-template-columns: 1fr;
  }
  .service-card:hover {
    grid-template-columns: 1fr;
  }
  .service-img-wrap img {
    width: 100%;
  }
  .service-card:hover .service-img-wrap {
    transform: unset;
  }
  .service-img-wrap {
    position: unset;
    transform: unset;
    display: contents;
  } */

  .serv {
    padding: 60px 0px;
  }
  .ser-icon {
    max-width: 50px;
    height: 50px;
  }
  /* .proj {
    padding: 60px 0px;
  } */
  /* .tabs-menu {
    grid-template-columns: repeat(1, 1fr);
  } */
  .project-tabs {
    margin-top: 0px;
  }
  .hero-text {
    display: block;
  }
  .hero-text p {
    width: 100%;
    padding-bottom: 10px;
  }
  .hero-img {
    width: 100%;
    /* height: 420px; */
  }
  .why-choose {
    padding: 50px 0px 60px 0px;
  }
  .mid-sec {
    grid-template-columns: 1fr;
  }
  .img-wrapper img {
    height: auto;
  }
  .about-mission-vision-nav {
    flex-wrap: wrap;
  }
  .years-experience-circle {
    top: 30%;
  }
  /* .years-experience-circle {
    top: 13%;
  }
  .years-experience-circle figure img {
    max-width: 160px;
  }
  .years-experience-counter-box {
    width: 70px;
    height: 70px;
  } */
  .years-experience-counter-box h2 {
    font-size: 30px;
  }
  .our-event-gold {
    padding: 60px 0px;
  }
  .event-item-info-gold::before {
    display: none;
  }
  .event-item-gold {
    margin-bottom: 30px;
  }
  .blog-carousel-section {
    padding: 60px 0;
  }
  .process-step.active {
    backdrop-filter: blur(0px);
  }
  .client-marquee-section {
    padding: 60px 0px 60px 0px;
  }
  .company-supports-logo img {
    height: 70px;
  }
  .cta-section {
    padding: 60px 0px;
  }
  .footer-section {
    /* position: unset; */
    padding: 60px 0px 60px;
  }
  .footer-top {
    grid-template-columns: 1fr 1fr;
  }
  .footer-bottom span {
    font-size: 80px;
  }
  .footer-text {
    padding-left: 20px;
  }
  .footer-col a {
    text-align: left;
    padding-left: 20px;
  }
  .footer-bottom {
    margin-top: 40px;
  }

  /* about page */
  .about {
    height: 60vh;
  }
  .abt-t {
    font-size: 3rem;
  }
  .about-mid {
    padding: 60px 0px;
  }
  .our-approach {
    padding: 60px 0px;
  }

  div#fle {
    flex-direction: column-reverse;
  }

  .our-benefits {
    padding: 60px 0;
  }
  .our-benefits-images {
    margin-bottom: 40px;
  }
  .our-achievements {
    padding: 60px 0px;
  }
  .achievements-content {
    margin-top: 40px;
  }
  /* .achievement-item {
    width: 100%;
  } */
  .our-speakers {
    padding: 60px 0px 40px 0px;
  }
  .intro-video-image img {
    aspect-ratio: unset;
  }
  .our-skills {
    padding: 60px 0px;
  }
  .skills-content {
    margin-top: 40px;
  }
  .skills-content-body .expert-skills-box {
    width: 100%;
  }
  .our-testimonials {
    padding: 60px 0px;
  }
  .testimonial-client-box {
    margin-bottom: 40px;
  }
  .faq {
    padding: 60px 0px;
  }
  .faqs-image {
    margin-bottom: 40px;
  }

  /* portfolio details */

  .page-schedule-single {
    padding: 60px 0;
  }
  .sidebar-cta-contact-item-content h3 {
    font-size: 15px;
  }
  .schedule-expect-image-box {
    grid-template-columns: repeat(1, 1fr);
  }
  .marquee-section {
    padding: 20px 0;
  }
  .before-after-section {
    padding: 60px 0px;
  }

  /* contact page /gallery page */

  .contact-section {
    padding: 60px 0px;
  }
  .cont-mid {
    padding: 60px 0px;
  }
  .page-gallery {
    padding: 60px 0px;
  }

  /* service */

  .highlight-main img {
    height: auto;
    max-height: fit-content;
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .navbar-light .navbar-nav .nav-link {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
  }

  .advance-wrap.scrolled {
    gap: 60px;
  }
  .advance-wrap {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 40px 20px;
  }
  .mid-sec {
    grid-template-columns: 1fr;
  }
  .img-wrapper img {
    height: auto;
  }
  .years-experience-circle {
    top: 41%;
  }

  .sidebar-cta-contact-item-content h3 {
    font-size: 16px;
    color: var(--white-color);
  }
  div#fle {
    flex-direction: column-reverse;
  }
  .our-benefits-images {
    margin-bottom: 40px;
  }
  .skills-content {
    margin-top: 40px;
  }

  /* .advance-item {
    margin: 0;
    transform: none !important;
    min-width: unset;
    border-radius: 40px;
  }

  .advance-thumb img {
    height: 300px;
    border-radius: 40px;
  }

  .advance-content {
    top: 75%;
  } */
}
